// Place all the styles related to the Giveaways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

.container {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}

#logos {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logos a:hover {
  opacity: 0.5;
  text-decoration: none;
  background: none;
}

h2 {
  padding-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.top-description p {
  padding-top: 20px;
}

.container table, p, #referral-div, label[for=request_referral], .btn {
  margin-left: 20px;
  margin-right: 20px;
}

.container table.tree-img-desc {
  margin-left: 0px;
}

.separator {
  height: 18px;
    background: #FFF;
}

.striped tr:nth-child(even) {
  background: #e0e0e0;
}

.striped tr:nth-child(odd) {
  background: #FFF;
}

.tree-info:nth-of-type(even) {
    background: #e0e0e0;
}

.tree-info {
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.tree-image {
  width: 212px;
  text-align: center;
}

#add-tree {
  text-align: right;
  margin-right: 25px;
}

#add-tree input {
  text-align: right;
}

img {
  padding-right: 10px;
}

.contact-info {
  border-collapse: collapse;
  width: 705px;
}


.contact-info label, td {
    font-size: 16px;
}


.contact-info input {
  padding: 2px;
  margin: 4px;
}

.referral-area {
  padding-top: 20px;
}

.btn {
  margin-top: 10px;
  padding: 5px;
}

.radio {
  margin-right: 8px;
}
