// Place all the styles related to the request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: table;
}

.main-body {
  padding-bottom: 20px;
}

.back-button {
  display: block;
  width: 768px;
  text-align: left;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}  

.share-buttons {
  display: block;
  width: 140px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.fb-button-wrapper, .tweet-wrapper {
  float: left;
  margin-right: 10px;
}

.qgiv-embed-container {
  height: 100%;
  
  iframe {
    height: 2500px;
  }
}
